.dessertContainer {
    margin:1rem 2rem 3rem 4rem;
    border: 2px orange solid;
    min-width: 150px;
   
}

.centerFlex {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.imgControl {
    width: 50%;
    height: auto;
}
.dessertItem{
    padding: 10px;
    border: 2px orange solid;
}

/*display change by window size */

@media screen and (min-width: 500px) {
    .dessertContainer {      
        display: flex;
      flex-wrap: wrap;
        justify-content: center;
    }

/* 
    .dessertIamge{
        display: flex;
        align-items: flex-start;
    }

    .buttonBottom {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    } */
    
}