.imgControl {
    width: 50%;
    height: auto;
}
.dessertItem{
    padding: 10px;
    border: 2px orange solid;
}

/*display change by window size */

@media screen and (min-width: 500px) {
    .dessertContainer {      
        display: flex;
      flex-wrap: wrap;
        justify-content: center;
    }


}