.dessertContainer {
   border: 1px solid orange;
   
}


/*display change by window size */

@media screen and (min-width: 550px) {
    .dessertContainer {      
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;

    }
}